<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Heros on a Half-Shell</h1>
    <h2>Turtle Power!</h2>
    <div class="">
      {{#model}}
      <h4>
        <ul>
          {{#turtle}}
          <li>{{name}} {{color}} {{weapon}}</li>
          {{/turtle}}
        </ul>
      </h4>
      {{/model}}


    </div>
  </body>
</html>
